:root {
    background-color: #222222;
}

div.cell {
    width: var(--cell-width);
    height: var(--cell-width);
    border: 0.5px solid rgb(73, 73, 73);
}

.cell[data-state="1"] {
    background-color: white;
}

.cell[data-state="0"] {
    background-color: rgb(27, 27, 27);
}

#grid {
    display: grid;
    grid-template-columns: repeat(var(--row-length), 1fr);
    width: calc(var(--cell-width) * var(--row-length));
}